<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rastreamento</title>
</head>
<style>
    body{
        background-color: rgb(12, 12, 12);
        color: white;
        font: normal 14pt Times;    
    }
    form{
        background-color: grey;
        margin: 3em;
        margin-top: 1em;
        width: 1000px;
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 1em;
    }
</style>

<script  type ="text/javascript">
    function agora()
        {
            diaDaSemana = new Array("Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado")
            mesNome = new Array("Jan","Fev","Mar","Abr","Mai","Jun","Jul","Ago","Set","Out","NOv","Dez")
            var data = new Date().toLocaleString();
            // data = data + " " + diaDaSemana[now.getDay()] + '-feira'
            mens = "# Detalhe de rastreio dos Correios # "
            document.getElementById('status').innerHTML = mens + data
        }
    
</script>
<body onload="agora()">
    <br>
    <form>
        <button  id ='status'  style ="background-color: grey; color :White; font-size: larger;" ></button>
        <hr>
        {% if error_message %}
            <p><strong>{{error_message}}</strong></p>
        {% endif %}
        {% csrf_token %}
        <ol>
            <h3><i>{{compra}}</i></h3>

                {% for item in compra.rastreios_set.all %}
                    <p style="margin-left:1em; color: yellow">
                        {{item.data}} - {{item.hora}} -> {{item.local}} : {{item.mens}}
                    </p>
                {% endfor %}
        </ol>
        <hr>
        <br>
        <button  style="background-color:salmon; font-size:medium; margin-left: 3em; border-radius: 1em; color:whitesmoke ">
            <a href="{% url 'index' %}" >Retornar ao início</a>
        </button>
        <br>

    </form>
    
</body>
</html>