{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rastreamento</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/util.js' %}"></script>
</head>
<body onload="Data()">
    <br>
    <form>
        <label class="titulo" >Informações rastreiadas pelos Correios  </label>
        <hr>
        {% if error_message %}
            <p><strong>{{error_message}}</strong></p>
        {% endif %}
        {% csrf_token %}
        <ol>
            <label class="item_titulo">{{compra}}</label>

                {% for item in compra.rastreios_set.all %}
                    <p class="item_dados" >
                        {{item.data}} - {{item.hora}} -> {{item.local}} : {{item.mens}}
                    </p>
                {% endfor %}
                
        </ol>
     
        
        <hr>
        <pre  id="hoje" style="text-align:right; color: black; font-size:large" ></pre>
        <button type="button" class="retorno"  >
            <a href="{% url 'index' %}" >Retornar ao início</a>
        </button>

        <br>

    </form>
    
</body>
</html>