{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rastreios - Correios</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/util.js' %}"></script>
</head>
<body onload="Data()">
    <br>
    <form>       
        <label class="titulo" >Status de rastreio dos Correios </label>
        <hr>
        {% if compras_list %}
            {% for item in compras_list %}      
                <p class="item_dados">
                    <button type="button" class="item_link"><a href="{% url 'detail' item.id %}" >{{item.id}}</a></button>                   
                    &nbsp; : 
                    {{item.nome}} - {{item.produto}} - {{ item.codigocp}} - {{item.datast}} - {{item.hora}} -> {{item.local}} : {{item.statuscp}}
                </p>
            {% endfor %}
            <hr>
            <pre  id="hoje" style="text-align:right; color: black; font-size:large" ></pre>
        {% else %}
            <p> Status de compras não disponível</p>
        {% endif %}
    </form>
</body>
</html>
