{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rastreios - Correios</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<!-- <style>
    body{
        background-color: black;
        color: white;
        font: normal 14pt Times;    
    }
    form{
        background-color: grey;
        margin: 3em;
        margin-top: 1em;
        width: 1200px;
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 1em;
    }
</style> -->

<script>
    function agora()
    {
        var diaDaSemana = new Array("Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado")
        var mesNome = new Array("Jan","Fev","Mar","Abr","Mai","Jun","Jul","Ago","Set","Out","NOv","Dez")
        var now = new Date();
        var data = new Date().toLocaleString() + " - " + diaDaSemana[now.getDay()] + '-feira'
        var mens = "# Status de rastreio dos Correios # "
        document.getElementById('cabecalho').innerHTML = mens + data
    }
</script>
<body onload="agora()" >
    <br>
    <form>       
        <button type="button" class="titulo"  id ='cabecalho'  ></button>
        <hr>
        {% if compras_list %}
            {% for item in compras_list %}      
                <p class="item_dados">
                    <button type="button" class="item_link"><a href="{% url 'detail' item.id %}" >{{item.id}}</a></button>                   
                    &nbsp; : 
                    {{item.nome}} - {{item.produto}} - {{ item.codigocp}} - {{item.datast}} - {{item.hora}} -> {{item.local}} : {{item.statuscp}}
                </p>
            {% endfor %}
            <hr>
        {% else %}
            <p> Status de compras não disponível</p>
        {% endif %}
    </form>
</body>
</html>
